@-webkit-keyframes midspurt {
  0% {
    background-size: 0%;
  }
  25% {
    background-size: 10%;
  }
  50%{
    background-size: 20%;
  }
  75% {
    background-size: 30%;
  }
  100% {
    background-size: 30%;
  }
}
@keyframes midspurt {
   0% {
    background-size: 0%;
  }
  25% {
    background-size: 10%;
  }
  50%{
    background-size: 20%;
  }
  75% {
    background-size: 30%;
  }
  100% {
    background-size: 30%;
  }
}
@-webkit-keyframes swspurt {
  0% {
    background-size: 0%;
  }
  25%{
    background-size: 25%;
  }
  50%{
    background-size: 50%;
  }
  75% {
    background-size: 75%;
  }
  100% {
    background-size: 75%;
  }
}
@keyframes swspurt {
  0% {
    background-size: 0%;
  }
  25%{
    background-size: 25%;
  }
  50%{
    background-size: 50%;
  }
  75% {
    background-size: 75%;
  }
  100% {
    background-size: 75%;
  }
}