@-webkit-keyframes midspurt {
  0% {
    background-size: 0%;
  }
  25% {
    background-size: 10%;
  }
  50%{
    background-size: 20%;
  }
  75% {
    background-size: 30%;
  }
  100% {
    background-size: 30%;
  }
}
@keyframes midspurt {
   0% {
    background-size: 0%;
  }
  25% {
    background-size: 10%;
  }
  50%{
    background-size: 20%;
  }
  75% {
    background-size: 30%;
  }
  100% {
    background-size: 30%;
  }
}
@-webkit-keyframes swspurt {
  0% {
    background-size: 0%;
  }
  25%{
    background-size: 0%;
  }
  50%{
    background-size: 5%;
  }
  75% {
    background-size: 35%;
  }
  100% {
    background-size: 65%;
  }
}
@keyframes swspurt {
  0% {
    background-size: 0%;
  }
  25%{
    background-size: 0%;
  }
  50%{
    background-size: 5%;
  }
  75% {
    background-size: 35%;
  }
  100% {
    background-size: 65%;
  }
}
@-webkit-keyframes hover {
  0%{
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(181,232,253,1) 0%, rgba(56,227,245,1) 50%, rgba(37,152,245,1) 100%);
      }

  31.25% {
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(37,152,245,1) 10%, rgba(181,232,253,1) 60%, rgba(56,227,245,1) 100%);
  }
  62.5% {
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(181,232,253,1) 20%, rgba(56,227,245,1) 70%, rgba(37,152,245,1) 100%);
  }
  100%{
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(181,232,253,1) 10%, rgba(56,227,245,1) 60%, rgba(37,152,245,1) 100%);
      }
}
@keyframes hover {
  0%{
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(181,232,253,1) 0%, rgba(56,227,245,1) 50%, rgba(37,152,245,1) 100%);
      }

  31.25% {
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(37,152,245,1) 10%, rgba(181,232,253,1) 60%, rgba(56,227,245,1) 100%);
  }
  62.5% {
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(181,232,253,1) 20%, rgba(56,227,245,1) 70%, rgba(37,152,245,1) 100%);
  }
  100%{
    background: rgb(181,232,253);
    background: radial-gradient(circle, rgba(181,232,253,1) 10%, rgba(56,227,245,1) 60%, rgba(37,152,245,1) 100%);
      }
}