@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
  background: #aaaaaa;
}
body {
  background: #ffffff;
  overscroll-behavior: none;
  width: 80vw;
  height: auto;
  margin: auto;
}
header {
  background: url(assets/sw-logo.svg) no-repeat right center;
  background-size: 80%;
  width: 340px;
  height: 100px;
}
h1 {
  width: 630px;
  height: 300px;
  background: url(assets/starrynight.jpg);
  background-size: cover;
  margin: auto;
}
.opening {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 700px;
  width: 61%;
  margin: auto;
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
}
#future {
  font-size: 5vmin;
  font-weight: bold;
  width: 40%;
  text-align: block;
}
#firstbody {
  font-size: 3vmin;
  width: 50%;
}