@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
  background: #9b9b9b;
}
body {
  background: #ffffff;
  overscroll-behavior: none;
  width: 80vw;
  height: 100%;
  margin: auto;
  margin-top: -1%;
}
header {
  background: url(assets/sw-logo.svg) no-repeat left center;
  background-size: 20%;
  width: 84%;
  height:8vh;
  margin-left: auto;
  margin-right: 10px;
}
#viewing {
  color: #537089;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5vmin;
  text-align: right;
  font-weight: 400;
}
.viewingLink {
  color: #002240;
}
h1 {
  width: 56vw;
  height: 40vh;
  background: url(assets/starrynight.jpg);
  background-size: cover;
  margin: auto;
}
.opening {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
  width: 56vw;
  margin: auto;
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
}
#future {
  font-size: 5vmin;
  font-weight: bold;
  width: 40%;
  text-align: block;
}
#firstbody {
  font-size: 3vmin;
  width: 50%;
}

.culture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 56vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.cultureTop {
  padding-top: 10vh;
  width: 60%;
  text-align: center;
  height: 25%;
}
#ourCulture {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  line-height: 20px;
}
#cultureTagline {
  color: #537089;
  width: 100%;
  text-align: center;
  height: 40%;
  font-size: 2.5vmin;
}
.middleCulture {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.MCD {
  width: 30%;
}
.MCT {
  color: #537089;
  font-size: 2.5vmin;
}
.cultureIcon {
  background: url(assets/cultureicon.jpg) center no-repeat;
  background-size: 100%;
  width: 5vw;
  height: 8vh;
  border-radius: 50%;
}
.cultureBottom {
  width: 60%;
  text-align: center;
  height: 25%;
}
#cultureBottomLine {
  color: #002240;
  width: 100%;
  text-align: center;
  height: 30%;
  font-size: 2.5vmin;
}
#JTT {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #ffffff;
  border-radius: 5px;
  background: #0688FA;
  width: 50%;
  height: 30%;
}
.timelineContainer {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 56vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
#progress {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  height: 5%;
  line-height: 20px;
  text-align: center;
}
.timeline {
  width: 90%;
  height: 90vh;
  background: rgb(239,248,255);
  background: linear-gradient(90deg, rgba(239,248,255,1) 24.5%, rgba(29,141,241,1) 25%, rgba(239,248,255,1) 25.5%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2vh;
}
.TLitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 20%;
}
.date {
  color: #1d8df1;
  font-weight: bold;
  font-size: 3.5vmin;
  line-height: 10px;
  width: 10%;
}
.mailIcon {
  height: 8vh;
  width: 4vw;
  background: #ffffff url(assets/envelope.png) center no-repeat;
  background-size: 60%;
  border-radius: 50%;
}
.timelineText {
  color: #002240;
  font-weight: 600;
  width:60%;
  font-style: normal;
}
.offices {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 50vh;
  width: 56vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  color: #002240;
  background: rgb(255,245,245);
  background: linear-gradient(10deg, rgba(255,245,245,1) 54%, rgba(255,255,255,1) 55%);
}
#offices {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  height: 5%;
  line-height: 20px;
  text-align: center;
}
.officebox {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 45%;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.officeIcon {
 background: url(assets/officeicon.png) center no-repeat;
 background-size: 100%;
 width: 26%;
 height: 30%;
 border-radius: 50%;
}
.location {
 font-weight: bold;
 font-size: 4vmin;
}
.investors {
  padding-bottom: 10vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 80vh;
  width: 56vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  color: #002240;
  background: rgb(255,245,245);
  background: linear-gradient(-15deg, rgba(255,255,255,1) 44%, rgba(255,245,245,1) 45% );
}
#investors {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  height: 5%;
  line-height: 20px;
  text-align: center;
}
.invImages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}
.investorImage {
  height: 40%;
  width: 45%;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
#Ycom {
  background: #ffffff url(assets/Ylogo.png) center no-repeat;
  background-size: 90%;
}
#monks {
  background: #ffffff url(assets/monkshill.png) center no-repeat;
  background-size: 90%;
}
#strive {
  background: #ffffff url(assets/strive.png) center no-repeat;
  background-size: 80%;
}
#wavemaker {
  background: #ffffff url(assets/wavemaker.png) center no-repeat;
  background-size: 60%;
}
.futureContainer {
  width: 54vw;
  height: 35vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #329dfb;
  font-family: 'Source Sans Pro', sans-serif;
}
#theFuture {
  font-size: 4vmin;
  color: #ffffff;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 60%;
}
#demo {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #002240;
  border-radius: 5px;
  background: #ffffff;
  width: 45%;
  height: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
#cases {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #ffffff;
  border-radius: 5px;
  border: #ffffff solid 1px;
  background: transparent;
  width: 45%;
  height: 50%;
}
button:hover {
  transform: scaleX(1.1) scaleY(1.1);
  cursor: pointer;
}
.psuedoFooter {
  padding-top: 10vh;
  height: 40vh;
  width: 56vw;
  margin: auto;
  background: linear-gradient(0deg, #f4f4f4 5%, #ffffff 35% );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}
.SWlogo2 {
  width: 18%;
  height: 10%;
  background: url(assets/sw-logo.svg)center no-repeat;
  background-size: 90%;
}
.bottomInfo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
}
.BItext {
  width: 20%;
  height: 45%;
  line-height: 24px;
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
}
.BItextHeaders {
  font-size: 2vmin;
  line-height: 0px;
  font-weight: 800;
}
.BItextblocks {
font-size: 1.8vmin;
}
.boldAd {
  font-size: 2vmin;
  font-weight: 600;
}

footer {
  padding-top: 10vh;
  height: 40vh;
  width: 56vw;
  margin: auto;
  background: #f4f4f4 url(assets/sunsetclipart.png) bottom center no-repeat;
  background-size:110%;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}
.leftFooter {
 width: 35%;
 height: 50%;
}
.privacyTerms {
  font-weight: bold;
  font-size: 2.5vmin;
}
.copyright {
  font-size: 1.8vmin;
}
.socialIcons {
  height: 20%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.socialLogo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
#facebook {
  background: #1f6bb6 url(assets/fb.png) center no-repeat;
  background-size: cover;
}
#twitter {
  background: url(assets/twitter.png) center no-repeat;
  background-size: cover;
}
#linkedin {
  background: url(assets/linkedin.png) center no-repeat;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 500px){
  body {
    width: 100vw;
  }
  h1 {
    width: 85vw;
    height: 60vh;
    background: url(assets/starrynight.jpg)center no-repeat;
  }
  .opening {
    height: 110vh;
    width: 85vw;
    flex-direction: column;
  }
  #future {
    font-size: 11vmin;
    width: 100%;
    height: 20%;
  }
  #firstbody {
    font-size: 4.5vmin;
    width: 100%;
  }
  .culture {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    height: 130vh;
    width: 85vw;
  }
  .cultureTop {
    width: 90%;
    text-align: left;
    height: 20%;
  }
  #ourCulture {
    font-size: 8vmin;
    font-weight: bold;
    width: 100%;
    line-height: 20px;
  }
  #cultureTagline {
    width: 100%;
    text-align: left;
    font-size: 3.5vmin;
  }
  .middleCulture {
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
  }
  .MCD {
    width: 90%;
    height: 30%;
    font-size: 3.5vmin;
    align-content: left;
  }
  .cultureIcon {
    width: 40px;
    height: 40px;
  }
  .cultureBottom {
    width: 100%;
    text-align:left;
    height: 25%;
  }
  #cultureBottomLine {
    width: 100%;
    text-align: left;
    height: 33%;
    font-size: 3.5vmin;
  }
  #JTT {
    font-size: 3.8vmin;
    width: 90%;
  }
}