@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
  background: #9b9b9b;
}
body {
  background: #ffffff;
  overscroll-behavior: none;
  width: 80vw;
  height: 100%;
  margin: auto;
}
header {
  background: url(assets/sw-logo.svg) no-repeat left center;
  background-size: 20%;
  width: 820px;
  height: 60px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: -16px;
}
#viewing {
  color: #537089;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5vmin;
  text-align: right;
  font-weight: 400;
}
.viewingLink {
  color: #002240;
}
h1 {
  width: 630px;
  height: 300px;
  background: url(assets/starrynight.jpg);
  background-size: cover;
  margin: auto;
}
.opening {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 650px;
  width: 61%;
  margin: auto;
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
}
#future {
  font-size: 5vmin;
  font-weight: bold;
  width: 40%;
  text-align: block;
}
#firstbody {
  font-size: 3vmin;
  width: 50%;
}

.culture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  height: 600px;
  width: 61%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.cultureTop {
  width: 60%;
  text-align: center;
  height: 25%;
}
#ourCulture {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  line-height: 20px;
}
#cultureTagline {
  color: #537089;
  width: 100%;
  text-align: center;
  height: 40%;
}
.middleCulture {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.MCD {
  width: 30%;
}
.MCT {
  color: #537089;
}
.cultureIcon {
  background: url(assets/cultureicon.jpg) center no-repeat;
  background-size: 100%;
  width: 30%;
  height: 18%;
  border-radius: 50%;
}
.cultureBottom {
  width: 60%;
  text-align: center;
  height: 25%;
}
#cultureBottomLine {
  color: #002240;
  width: 100%;
  text-align: center;
  height: 30%;
}
#JTT {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #ffffff;
  border-radius: 5px;
  background: #0688FA;
  width: 50%;
  height: 30%;
}
.timelineContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  height: 600px;
  width: 61%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  outline: purple 1px solid;
}
#progress {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  height: 5%;
  line-height: 20px;
  text-align: center;
}
.timeline {
  width: 80%;
  height: 85%;
  background: rgb(239,248,255);
  background: linear-gradient(90deg, rgba(239,248,255,1) 27.5%, rgba(29,141,241,1) 28%, rgba(239,248,255,1) 28.5%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}
.TLitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 20%;
}
.date {
  color: #1d8df1;
  font-weight: bold;
  font-size: 3.5vmin;
  line-height: 10px;
  width: 10%;
}
.mailIcon {
  height: 70%;
  width: 12%;
  background: #ffffff url(assets/envelope.png) center no-repeat;
  background-size: 60%;
  border-radius: 50%;
}
.timelineText {
  color: #002240;
  font-weight: 600;
  width:60%;
  font-style: normal;
}