@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
  background: #b5e8fd;
}
body {
  background: #ffffff;
  overscroll-behavior: none;
  width: 70vw;
  height: 100%;
  margin: auto;
}
header {
  background: url(assets/sw-logo.svg) no-repeat left center;
  background-size: 13%;
  width: 820px;
  height: 60px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: -14px;
}
#viewing {
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5vmin;
  text-align: right;
  font-weight: 400;
}
.viewingLink {
  color: #002240;
}
h1 {
  width: 56vw;
  height: 50vh;
  background: url(assets/saleswhale.png) center no-repeat;
  background-size: 75%;
  margin: auto;
}
.spurt {
  width: 25%;
  height: 200%;
  margin-left: 53%;
  margin-top: -5%;
  background: url(assets/spurt.png) bottom center no-repeat;
  background-size: 90%;
  animation: midspurt linear 4s;
}
.salesspurt {
  width: 100%;
  height: 100%;
  background: url(assets/spray.png) bottom center no-repeat;
  background-size: 60%;
  animation: swspurt linear infinite 4.5s;
}
.opening {
  background: url(assets/abovethefoldbg.png) bottom right repeat-x;
  background-size: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90vh;
  width: 70vw;
  margin: auto;
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
}
#future {
  background: url(assets/futurebg.png) center no-repeat;
  background-size: 130%;
  width: 20vw;
  height: 70%;
}
#line1 {
  font-size: 7vmin;
  font-weight: 600;
  text-align: left;
}
#line2 {
  font-size: 6vmin;
  font-weight: bolder;
  text-align: center;
  text-align: right;
}
#line3 {
  font-size: 5vmin;
  text-align: center;
}
#firstbody {
  font-size: 3vmin;
  width: 36vw;
}
.culture {
  padding-top: 10vh;
  background: url(assets/culturebg.png) 40% 15% no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  height: 120vh;
  width: 56vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.cultureTop {
  padding-top: 20vh;
  width: 60%;
  text-align: center;
  height: 18%;
}
#ourCulture {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: 5px;
  width: 100%;
  line-height: 10px;
}
#cultureTagline {
  color: #537089;
  width: 100%;
  text-align: center;
  height: 20%;
  font-size: 2.5vmin;
  background-color: #ffffff72;
}
.middleCulture {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.MCD {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  width: 30%;
}
.cultureHL {
  text-align: center;
}
.MCT {
  color: #537089;
  font-size: 2.5vmin;
  align-self: flex-end;
}
.cultureBottom {
  width: 60%;
  text-align: center;
  height: 20%;
}
#cultureBottomLine {
  color: #002240;
  width: 100%;
  text-align: center;
  height: 25%;
  font-size: 2.5vmin;
}
#JTT {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #ffffff;
  border-radius: 5px;
  background: #0688FA;
  width: 50%;
  height: 30%;
  outline:none;
}
.timelineContainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 110vh;
  width: 70vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
#progress {
  background: url(assets/progressbg.png) center no-repeat;
  background-size: 30%;
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: 5px;
  width: 100%;
  height: 20%;
  line-height: 110px;
  text-align: center;
}
.timeline {
  background: url(assets/tlbg.png) top no-repeat;
  background-size: 90%;
  width: 56vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2vh;
}
.TLitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
#founded {
  flex-direction: row-reverse;
  align-items: flex-start;
  height: 18%;
  width:49.3%;
  border-bottom: 1vh solid #38e3f5;
  border-right: 1vw solid #b5e8fd;
  box-shadow: 1px 1px 5px #b5e8fd65;
}
#Accepted {
  background-size: 50%;
  align-self: flex-end;
  align-items: flex-start;
  height: 17%;
  width:48.9%;
  border-bottom: 1vh solid #2598f5;
  border-left: 1vw solid #b5e8fd;
  box-shadow: -1px 1px 5px #b5e8fd65;
  text-align: right;
}
#seedFunding {
  flex-direction: row-reverse;
  align-items: flex-start;
  height: 14%;
  width:49.3%;
  border-bottom: 1vh solid #38e3f5;
  border-right: 1vw solid #b5e8fd;
  box-shadow: 1px 1px 5px #b5e8fd65;
}
#raised {
  align-self: flex-end;
  align-items: flex-start;
  height: 17%;
  width:48.9%;
  border-bottom: 1vh solid #2598f5;
  border-left: 1vw solid #b5e8fd;
  box-shadow: -1px 1px 5px #b5e8fd65;
  text-align: right;
}
#US {
  flex-direction: row-reverse;
  align-items: flex-start;
  height: 18%;
  width:49.3%;
  border-bottom: 1vh solid #38e3f5;
  border-right: 1vw solid #b5e8fd;
  box-shadow: 1px 1px 5px #b5e8fd65;
}
#firstDate {
  margin-right: -20px;
  margin-top: 32px;
  border: 2px solid #38e3f5;
}
#secondDate {
  margin-left: -20px;
  margin-top: 28px;
  border: 2px solid #2598f5;
}
#thirdDate {
  margin-right: -20px;
  margin-top: 12px;
  border: 2px solid #38e3f5;
}
#fourthDate {
  margin-left: -20px;
  margin-top: 28px;
  border: 2px solid #2598f5;
}
#fifthDate {
  margin-right: -20px;
  margin-top: 32px;
  border: 2px solid #38e3f5;
}
.date {
  color: #1d8df1;
  font-weight: bold;
  font-size: 3.5vmin;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b5e8fd;
  padding: 10px;
  text-align: center;
}
.timelineText {
  color: #002240;
  font-weight: 600;
  width:60%;
  font-style: normal;
  font-size: 2.5vmin;
}
.offices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 80vh;
  width: 70vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  color: #002240;
}
#offices {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: 5px;
  width: 50%;
  height: 15%;
  line-height: 60px;
  text-align: center;
  background: url(assets/officesbg.png) center no-repeat;
  background-size: 65%;
}
.officebox {
  width: 56vw;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 90%;
  width: 40%;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 3px 12px #2597f5d7, -1px -3px 3px #38e3f5af;
  border-radius: 5px;
}
#Singapore {
  background: #ffffff url(assets/singapore.png) center no-repeat;
  background-size: 50%;
}
#DC {
  background: #ffffff url(assets/washington.png) center no-repeat;
  background-size: 35%;
}
.location {
 font-weight: bold;
 font-size: 4vmin;
 height: 30%;
 line-height: 5px;
}

.investors {
  padding-bottom: 10vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 80vh;
  width: 70vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  color: #002240;
}
#investors {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: 5px;
  width: 100;
  height: 30%;
  line-height: 90px;
  text-align: center;
  background-color: #ffffff72;
  background: url(assets/investorsbg.png) center no-repeat;
  background-size: 70%;
}
.invImages {
  width: 56vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}
.investorImage {
  height: 40%;
  width: 40%;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 3px 12px #2597f5d7, -1px -3px 3px #38e3f5af;
  border-radius: 5px;
}
#Ycom {
  background: #ffffff url(assets/Ylogo.png) center no-repeat;
  background-size: 90%;
}
#monks {
  background: #ffffff url(assets/monkshill.png) center no-repeat;
  background-size: 90%;
}
#strive {
  background: #ffffff url(assets/strive.png) center no-repeat;
  background-size: 80%;
}
#wavemaker {
  background: #ffffff url(assets/wavemaker.png) center no-repeat;
  background-size: 50%;
}
.futureContainer {
  width: 54vw;
  height: 55vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: url(assets/seethefuturebg.png) center no-repeat;
  background-size: 90%;
  font-family: 'Source Sans Pro', sans-serif;
}
#theFuture {
  font-size: 6vmin;
  color: #2598f5;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 60%;
}
#demo {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #ffffff;
  border-radius: 5px;
  border: #2598f5 solid 1px;
  background: #2598f5;
  width: 45%;
  height: 50%;
  box-shadow: 0px 5px 15px #ffffff72;
  border-radius: 5px;
  outline:none;
}
#cases {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #2598f5;
  border-radius: 5px;
  border: #2598f5 solid 1px;
  background: #ffffff72;
  box-shadow: 0px 5px 15px #ffffff72;
  width: 45%;
  height: 50%;
  outline:none;
}
button:hover {
  transform: scaleX(1.1) scaleY(1.1);
  animation: hover linear infinite 1s;
  outline:none;
}
button:active {
  transform: scaleX(.9) scaleY(.9);
  outline:none;
}
.psuedoFooter {
  padding-top: 10vh;
  height: 40vh;
  width: 56vw;
  margin: auto;
  background: #ffffff url(assets/info.png) right no-repeat;
  background-size: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}
.SWlogo2 {
  width: 18%;
  height: 10%;
  background: url(assets/sw-logo.svg)center no-repeat;
  background-size: 90%;
}
.bottomInfo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
  background: #ffffff72;
}
.BItext {
  width: 20%;
  height: 45%;
  line-height: 24px;
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
}
.BItextHeaders {
  font-size: 2vmin;
  line-height: 0px;
  font-weight: 800;
}
.BItextblocks {
font-size: 1.8vmin;
}
.boldAd {
  font-size: 2vmin;
  font-weight: 600;
}

footer {
  padding-top: 10vh;
  height: 40vh;
  width: 70vw;
  margin: auto;
  background: url(assets/bottombg.png) bottom center repeat-x;
  background-size:60%;
  animation: wave linear infinite 10s;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}
.leftFooter {
 width: 35%;
 height: 50%;
}
.privacyTerms {
  font-weight: bold;
  font-size: 2.5vmin;
}
.copyright {
  font-size: 1.8vmin;
}
.socialIcons {
  height: 20%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.socialLogo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
#facebook {
  background: #1f6bb6 url(assets/fb.png) center no-repeat;
  background-size: cover;
}
#twitter {
  background: url(assets/twitter.png) center no-repeat;
  background-size: cover;
}
#linkedin {
  background: url(assets/linkedin.png) center no-repeat;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 500px){
  html {
    background: #ffffff;
  }
  body {
    width: 100vw;
  }
  header {
    background: url(assets/sw-logo.svg) no-repeat left top;
    background-size: 25%;
    width: 96vw;
    height:15vh;
    margin: auto;
    margin-top: 0px;
  }
  #viewing {
    font-size: 3.5vmin;
    text-align: right;
  }
}