@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
  background: #b1dbeb;
}
body {
  background: #ffffff;
  overscroll-behavior: none;
  width: 80vw;
  height: 100%;
  margin: auto;
}
header {
  background: url(assets/sw-logo.svg) no-repeat left center;
  background-size: 13%;
  width: 820px;
  height: 60px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: -16px;
}
#viewing {
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5vmin;
  text-align: right;
  font-weight: 400;
}
.viewingLink {
  color: #002240;
}
h1 {
  width: 630px;
  height: 300px;
  background: url(assets/saleswhale.png) center no-repeat;
  background-size: 85%;
  margin: auto;
}
.spurt {
  width: 25%;
  height: 200%;
  margin-left: 35%;
  margin-top: -6%;
  background: url(assets/midspray.png) bottom center no-repeat;
  background-size: 30%;
  animation: midspurt linear 4s;
}

.salesspurt {
  width: 100%;
  height: 100%;
  background: url(assets/salesspurt.png) bottom center no-repeat;
  background-size: 65%;
  animation: swspurt linear 3.5s;
}
.opening {
  background: url(assets/abovethefoldbg.png) bottom right repeat-x;
  background-size: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
  width: 56vw;
  margin: auto;
  color: #002240;
  font-family: 'Source Sans Pro', sans-serif;
}
#future {
  background: url(assets/futurebg.png) top no-repeat;
  background-size: 100%;
  font-size: 8vmin;
  font-weight: bold;
  width: 50%;
  height: 100%;
  text-align: left;
}
#firstbody {
  font-size: 3vmin;
  width: 50%;
}
.culture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 56vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.cultureTop {
  padding-top: 10vh;
  width: 60%;
  text-align: center;
  height: 25%;
}
#ourCulture {
  color: #0B0C0D;
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  line-height: 20px;
}
#cultureTagline {
  color: #537089;
  width: 100%;
  text-align: center;
  height: 40%;
  font-size: 2.5vmin;
}
.middleCulture {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.MCD {
  width: 30%;
}
.MCT {
  color: #537089;
  font-size: 2.5vmin;
}
.cultureIcon {
  background: url(assets/cultureicon.jpg) center no-repeat;
  background-size: 100%;
  width: 5vw;
  height: 8vh;
  border-radius: 50%;
}
.cultureBottom {
  width: 60%;
  text-align: center;
  height: 25%;
}
#cultureBottomLine {
  color: #002240;
  width: 100%;
  text-align: center;
  height: 30%;
  font-size: 2.5vmin;
}
#JTT {
  font-weight: bold;
  font-size: 2.8vmin;
  color: #ffffff;
  border-radius: 5px;
  background: #0688FA;
  width: 50%;
  height: 30%;
}